<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="isExpanded = !isExpanded && isExpanded1 = !isExpanded1">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/img/logo-upeu-blanco.png" alt="">
</mat-toolbar>

<mat-sidenav-container class="e-container" autosize>
    <mat-sidenav #sidenav class="e-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu;" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Usuario</span>
                <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngStyle]="{'display': showSubmenu ? 'block':''}"
                [ngClass]="{'expanded' : showSubmenu }" *ngIf="isShowing || isExpanded">
                <img src="../../../assets/img/usuario.png" alt="">
                <p>Bienvenido Dreyna</p>
                <p>EP Sistemas</p>
                <p>Semestre 2020-II</p>
                <a mat-list-item href="...">Cerrar sesion</a>
                <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Configuración</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
                        *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>
                <div class="submenu" [ngStyle]="{'display': showSubSubMenu ? 'block':''}"
                    [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                    <mat-list-item>Perfil de usuario</mat-list-item>
                    <mat-list-item>Contraseña</mat-list-item>
                </div>
            </div>
        </mat-nav-list>
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu1 = !showSubmenu1;" class="parent">
                <span class="full-width" *ngIf="isExpanded1 || isShowing1">Funciones</span>
                <mat-icon mat-list-icon>alarm_add</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}" *ngIf="isExpanded1 || isShowing1">
                    expand_more</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngStyle]="{'display': showSubmenu1 ? 'block':''}"
                [ngClass]="{'expanded' : showSubmenu1 }" *ngIf="isShowing1 || isExpanded1">
                <a mat-list-item href="...">Planificación de evaluación</a>
                <a mat-list-item href="...">Proyectos integradores</a>
                <a mat-list-item href="...">Evaluación</a>
                <a mat-list-item routerLink="/listcards">Informes</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>