<div class="row">
    <div class="col l4 m4">
        <div class="card">
            <div class="card-image">
                <img src="../../../assets/img/7.png" alt="">
                <span class="card-title">Formulario de Conocimientos</span>
            </div>
            <div class="card-action">
                <a [routerLink]="['/instrumento']">Crear</a>
            </div>
        </div>
    </div>
    <div class="col l4 m4">
        <div class="card">
            <div class="card-image">
                <img src="../../../assets/img/7.png" alt="">
                <span class="card-title">instrumentos</span>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>

            </div>
        </div>
    </div>
    <div class="col l4 m4">
        <div class="card">
            <div class="card-image">
                <img src="../../../assets/img/7.png" alt="">
                <span class="card-title">instrumentos</span>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="col l4 m4">
        <div class="card">
            <div class="card-image">
                <img src="../../../assets/img/7.png" alt="">
                <span class="card-title">instrumentos</span>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="col l4 m4">
        <div class="card">
            <div class="card-image">
                <img src="../../../assets/img/eval.png" alt="eval">
                <span class="card-title" style="color: black;">Gestionar Evaluadores</span>
            </div>
            <div class="card-action">
                <a [routerLink]="['/listevaluador']">GESTIONAR</a>
            </div>
            <div class="card-action">
                <a [routerLink]="['/listsemestre']">SEMESTRE</a>
            </div>
            <div class="card-action">
                <a [routerLink]="['/listasig']">ASIGNAR</a>
            </div>
            <div class="card-action">
                <a [routerLink]="['/listnivcomp']">Nivel Competencia</a>
            </div>
        </div>
    </div>
</div>