<mat-card style="text-align: center;margin-bottom:5px;" *ngIf=isRegi3>AGREGAR ASIGNACION</mat-card>
<mat-card style="text-align: center;margin-bottom:5px;" *ngIf=!isRegi3>MODIFICAR ASIGNACION</mat-card>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Datos</mat-panel-title>
            <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                      <mat-form-field>
                        <mat-label>CURSO</mat-label>
                        <mat-select [(ngModel)]="niv_comp_curModel.plan_curso_id" [formControl]="asigControl" required>
                            <mat-option>Seleccione</mat-option>
                            <mat-option *ngFor="let c of cursos" [value]="c.ID">{{c.PLAN}}  {{c.CICLO}}  {{ c.CURSO }} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="asigControl.hasError('required')">Este campo es requerido</mat-error>
                        <mat-hint>{{asigControl.value?.sound}}</mat-hint>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>COMPETENCIA</mat-label>
                        <mat-select [(ngModel)]="niv_comp_curModel.nivel_competencias_id" [formControl]="asigControl" required>
                            <mat-option>Seleccione</mat-option>
                          <mat-option *ngFor="let c of compentencias" [value]="c.ID">{{ c.COMPETENCIA }} {{c.NOMBRE}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="asigControl.hasError('required')">Este campo es requerido</mat-error>
                        <mat-hint>{{asigControl.value?.sound}}</mat-hint>
                      </mat-form-field>
                    
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <input matInput value="0" [hidden]="true">
                </td>
            </tr>
        </table>

    </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="accent" (click)="create()" *ngIf=isRegi3>Agregar</button>
<button mat-raised-button color="accent" (click)="updat()" *ngIf=!isRegi3>Modificar</button>
<button mat-raised-button color="warn" (click)="Register()">Cancelar</button>